absl-py==0.15.0
aiohttp==3.7.4.post0
altair==4.1.0
argcomplete==1.12.3
argon2-cffi==21.1.0
asgiref==3.4.1
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
Automat==20.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.0
bleach==4.1.0
blinker==1.4
cached-property==1.5.2
cachetools==4.2.4
cairocffi==1.3.0
catboost==1.0.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
constantly==15.1.0
contextlib2==21.6.0
cryptography==35.0.0
cssselect==1.1.0
cvlib==0.2.6
cycler==0.10.0
Cython==0.29.27
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.4
Django==3.2.8
docutils==0.17.1
docx==0.2.4
EasyProcess==0.3
emoji==1.7.0
entrypoint2==0.2.4
entrypoints==0.3
filelock==3.6.0
Flask==2.0.1
flatbuffers==1.12
gast==0.4.0
gitdb==4.0.7
GitPython==3.1.24
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.17
grpcio==1.41.1
h2==3.2.0
h5py==3.5.0
hpack==3.0.0
htmlmin==0.1.12
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.2
ImageHash==4.2.1
imageio==2.12.0
importlib-metadata==4.6.3
imutils==0.5.4
incremental==21.3.0
install==1.3.5
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonify==0.5
jsonschema==4.1.1
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.8.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==23.5.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
kivymd==0.104.2
kiwisolver==1.3.2
libclang==12.0.0
lxml==4.6.3
manimce==0.1.1.post2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mediapipe==0.8.9.1
missingno==0.5.0
mistune==0.8.4
mlxtend==0.19.0
mock==4.0.3
mss==6.1.0
multidict==5.2.0
multimethod==1.6
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
neattext==0.1.2
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.2
notebook==6.4.5
numpy==1.21.5
oauthlib==3.1.1
object-detection==0.1
opencv-contrib-python==4.5.5.62
opencv-python==4.5.3.56
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.1
pandas-profiling==3.1.0
pandocfilters==1.5.0
pangocairocffi==0.4.0
pangocffi==0.8.0
parsel==1.6.0
parso==0.8.2
phik==0.12.0
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==8.4.0
pkginfo==1.8.2
platformdirs==2.5.1
plotly==5.3.1
priority==1.3.0
progressbar==2.5
prometheus-client==0.11.0
prompt-toolkit==3.0.20
Protego==0.1.16
protobuf==3.18.1
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycparser==2.20
pydantic==1.8.2
pydeck==0.7.0
PyDispatcher==2.0.5
pydub==0.25.1
Pygments==2.9.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypiwin32==223
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyrsistent==0.18.0
pyscreenshot==3.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==1.1.4
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
queuelib==1.6.2
readme-renderer==32.0
regex==2021.8.3
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==6.2.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.1
Scrapy==2.5.1
seaborn==0.11.2
Send2Trash==1.8.0
service-identity==21.1.0
six==1.15.0
sklearn==0.0
smmap==4.0.0
sqlparse==0.4.2
streamlit==1.0.0
streamlit-pandas-profiling==0.1.2
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-object-detection-api==0.1.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
textblob==0.17.1
tf-estimator-nightly==2.8.0.dev2021122109
tf-slim==1.1.0
threadpoolctl==2.2.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.62.0
traitlets==5.1.0
tweepy==3.10.0
twine==3.8.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typing-extensions==3.7.4.3
tzdata==2021.4
tzlocal==4.0.1
urllib3==1.26.6
validators==0.18.2
virtualenv==20.13.2
visions==0.7.4
w3lib==1.22.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
xgboost==1.5.0
yarl==1.7.0
zipp==3.5.0
zope.interface==5.4.0
